/* 全局样式表 */
html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 15px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: 15px;
}
.el-pagination {
    margin-top: 15px;
}
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px !important;
}
/* 级联选择器控制高度 */
.el-cascader-menu {
    height: 300px;
  }
/* 设置富文本编辑器的高度 */
.ql-editor {
    min-height: 300px;
}